.calendar {
        font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
        font-size: 0.9em;
        background-color: #EEE;
        color: #333;
        border: 1px solid #DDD;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        padding: 0.2em;
        width: 14em;
}

.calendar .months {
        background-color:rgb(51, 122, 183);
        border: 1px solid rgb(51, 122, 183);
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        color: white;
        padding: 0.2em;
        text-align: center;
}

.calendar .prev-month,
.calendar .next-month {
        padding: 0;
}

.calendar .prev-month {
        float: left;
}

.calendar .next-month {
        float: right;
}

.calendar .current-month {
        margin: 0 auto;
}

.calendar .months .prev-month,
.calendar .months .next-month {
        color: white;
        text-decoration: none;
        padding: 0 0.4em;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        cursor: pointer;
}

.calendar .months .prev-month:hover,
.calendar .months .next-month:hover {
        background-color: #CEF6F5;
        color: #2ECCFA;
}

.calendar table {
        border-collapse: collapse;
        padding: 0;
        font-size: 0.8em;
        width: 100%;
}

.calendar th {
        text-align: center;
}

.calendar td {
        text-align: right;
        padding: 1px;
        width: 14.3%;
}

.calendar td span {
        display: block;
        color: #190707;
        background-color: #FFF;
        border: 1px solid black;
        text-decoration: none;
        padding: 0.2em;
        cursor: pointer;
}

.calendar td span:hover {
        color: #C77405;
        background-color: #AA442C;
        border: 1px solid #AA442C;
}

.calendar td.today span {
        background-color:#AA442C;
        border: 1px solid #AA442C;
        color:#FFFFFF;
}